<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>blockchain</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/bs-theme-overrides.css">
    <link rel="stylesheet" href="/assets/css/Banner-Heading-Image-images.css">
    <link rel="stylesheet" href="/assets/css/Navbar-Right-Links-icons.css">
</head>

<body>
    <%- include partials/header.ejs %>
    <div>
        <div class="container" style="margin-top:2%; display: flex; justify-content: center;"><img alt="green fields" src="<%= details.image %>" style="width: 700px;" /></div></div>
    <div>
        <div class="row">
            <div class="col">
                <div class="container py-4 py-xl-5">
                    <div class="row mb-5">
                        <div class="col-md-8 col-xl-6 text-center mx-auto">
                            <h2><%= details.place %></h2>
                            <p class="w-lg-50"><%= details.description %></p>
                        </div>
                    </div>
                    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                        <div class="col-md-12">
                            <div class="p-4">
                                <p><%= details.description2 %><br><br></p>
                                <div class="d-flex"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Package 1</h5>
                              <p class="card-text">5 day tour</p>
                              <a href="#" class="btn btn-primary">Proceed to payment</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="card">
                            <div class="card-body">
                              <h5 class="card-title">Package 2</h5>
                              <p class="card-text">20 day tour</p>
                              <a href="#" class="btn btn-primary">Proceed to payment</a>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>